
  .left-up-image {
    position: absolute;
    left: calc(50%);  /* 距离左边10% */
    top: calc(10%);   /* 距离顶部10% */
    height: 10vh;     /* 高度设置为页面高度的20% */
    width: auto;      /* 宽度自动调整保持比例 */
    transition: opacity 0.3s ease;  /* 为透明度设置平滑过渡 */
    z-index: -1;       /* 设置z-index，使图片位于较低层级 */
  }

  .left-bottom-image {
    position: absolute;
    left: calc(10%);  /* 距离左边10% */
    bottom: calc(10%);   /* 距离顶部10% */
    height: 20vh;     /* 高度设置为页面高度的20% */
    width: auto;      /* 宽度自动调整保持比例 */
    transition: opacity 0.3s ease;  /* 为透明度设置平滑过渡 */
    z-index: -1;       /* 设置z-index，使图片位于较低层级 */
  }
  
  :where(.css-dev-only-do-not-override-ni1kz0).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn  {
    color: #52C41A;
  }


  :where(.css-dev-only-do-not-override-ni1kz0).ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
    color: #52C41A;
    
  }

  :where(.css-dev-only-do-not-override-ni1kz0).ant-btn-variant-solid{
    background-color: #52C41A;
  }

  .ant-tabs-ink-bar {
    background-color: #52C41A !important; /* 修改为所需的颜色 */
  }

  :where(.css-dev-only-do-not-override-ni1kz0) a {
    color: #52C41A;
  }
